<nav class="navbar navbar-light bg-success shadow-sm">
  <a class="navbar-brand" routerLink="/">NC Reactor Planner</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/passive-planner" routerLinkActive="active" >Passive Reactor Planner</a>
    </li>
  </ul>
  <div class="ml-auto custom-control custom-switch" ngbPopover="Ads help me pay for the server costs, but if they annoy you feel free to disable them." triggers="mouseenter:mouseleave">
    <input type="checkbox" class="custom-control-input" name="ads" id="ads_checkbox" [(ngModel)]="adsEnabled">
    <label class="custom-control-label text-black-50" for="ads_checkbox">Ads</label>
  </div>
  <a class="ml-3" href="https://github.com/sedlak477/nc-reactor-planner"><img src="assets/icons/github.png" alt="GitHub"></a>
</nav>
