<main class="container mt-5">
  <h1>Welcome to Nuclearcraft Reactor Planner</h1>

  <p class="lead mt-4">
    This website is a collection of tools that help you design your
    <a href="https://www.curseforge.com/minecraft/mc-mods/nuclearcraft-mod">Nuclearcraft</a> reactors!
  </p>

  <h2>Why?</h2>

  <p>
    I know that there already exists an excellent tool written by <a href="https://github.com/hellrage">hellrage</a>
    over on his GitHub. In fact that tool inspired me to attempt to create this website, so <em>you should definitely
    <a href="https://github.com/hellrage/NC-Reactor-Planner">check it out</a></em>, it also supports actively cooled reactors!
  </p>
  <p>
    This project is mainly for me to get more comfortable with <a href="https://angular.io/">Angular</a> and web development in general.
    Also I'm a fan of numerical calculations and approximations, this project looks like a nice place to this stuff.
    Please excuse the sometimes rough finish, I'm still figuring stuff out 😁. If you are interested you can find the source code
    over on my <a href="https://github.com/sedlak477">GitHub</a> (soon&trade;).
  </p>
  <p>
    Also I had problems getting <a href="https://github.com/hellrage">hellrage</a>'s planner to work on Linux without
    crashing and figured a web based version wouldn't have this kind of problems 😅.
  </p>
</main>
